body{
  background-color:#0D2025;
  margin:0;
  padding:0;
}
#wrapper{
  max-width:90%;
  margin:0 auto;
}
.flex{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top:10px;
}
.logo{
  height:75px;
  padding-right:40px;
  padding-bottom:0px;
}
.orange{
  background-color:#E47855;
}
h1{
  font-family: 'Nunito', sans-serif;
  color:#7DAB9B;
  font-size:20px;
}
ul{
  list-style:none;
  text-decoration:none;
}
a{
  text-decoration:none;
  color:#7DAB9B;
}
button{
  background-color:#E47855;
  border-radius:25px;
  color:#7DAB9B;
  cursor:pointer;
  border:none;
}
a:hover{
  color:#E47855;
}
a:visited{
  color:white;
}
button:hover{
  color:#E47855;
}
button:visited{
  color:white;
}
li{
  color:#7DAB9B;
  display:inline;
  margin: 20px;
  padding: 10px 5px;
  font-family: 'Nunito', sans-serif;
}
.title{
  text-align:center;
  font-size:50px;
  margin:0px;
  padding:0px;
}
h2{
  font-family: 'Nunito', sans-serif;
  color:#E47855;
  border-bottom:0.5px solid #E47855;
}
img{
  height: 200px;
  overflow: hidden;
  padding-bottom:20px;
}
.foot{
  color:#E47855;
  font-family: 'Nunito', sans-serif
  font-style:bold;
}
.up{
  color:white;
  font-family: 'Castoro', serif;
  background-color:transparent;
  border-radius:0px;
  cursor:pointer;
  border:none;
  padding:0px;
  font-size:15spx;
}
p{
  color:white;
}
.column{
  float:left;
}
.left{
  width:25%;
  float:left;
  margin:0px;
  padding-right:10px;
}
.right{
  width:70%;
  float:left;
  margin:0px;
}
.end{
  text-align:center;
}
.sandler{
  background-color:#67A0B5;
  color:white;
  cursor:pointer;
  border:none;
  width:10%;
  border-radius:0px;
  padding:6px;
  margin-top:7px;
  text-align:center;
}
.sandler:hover{
  color:#E47855;
}
.dead{
  padding:200px;
}
